html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --colorPrimario: #FEAC99;
    --colorSecundario: #FD5933;
    --pink: #F4BFEB;
}

body {
    font-size: 1.8rem;
    font-family: 'Roboto Slab', serif;
}

/*GENERAL*/
.contenedor {
    max-width: 65%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/*UTILIDADES*/
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boton{
    display: block;
    padding: 1.5rem 0;
    color: #000;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--colorPrimario);
    border-radius: .4rem;
    cursor: pointer;
    margin-top: 1rem;
}

.boton:hover{
    color: #fff;
    background-color: var(--colorSecundario);
}

/*HEADER*/
.header {
    padding: 1rem 0;
}

.header {
    max-width: 95%;
    margin: 0 auto;
}

.header__logo {
    color: var(--colorPrimario);
    font-weight: 900;
}

.header__logo span {
    color: var(--colorSecundario);
    font-weight: 900;
}

.header__enlace {
    color: #000;
}

.header__enlace--activo {
    color: var(--colorPrimario);
}

.header__enlace:hover {
    color: var(--colorSecundario);
}

.header__espaciado {
    gap: 2rem;
}

.header__submenu {
    position: relative;
}

.header__carrito {
    display: none;
}

.header__submenu:hover .header__carrito {
    display: block;
    position: absolute;
    right: 0;

    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 2rem;
    margin-top: 2rem;
    min-height: 40rem;
    min-width: 30rem;
}

.header__button {
    display: block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 1rem;
}

/*HERO*/
.hero {
    background-color: var(--pink);
    height: 27rem;
    padding: 2rem 0;
    color: #fff;
}

.hero__titulo {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.hero__contenido {
    margin: 9rem auto 0 auto;
    text-align: center;
    font-size: 1.8rem;
    width: 90%;
}

.hero__contenido a {
    color: var(--colorSecundario);
}

/*CONTENIDO PRINCIPAL*/
.main {
    padding: 5rem 0;
}

.main__titulo {
    text-align: center;
    color: #3A3A3A;
}

.main__parrafo {
    text-align: center;
    line-height: 3.5rem;
    font-size: 1.5rem;
    color: #7A7A7A;
}

.main__productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 5rem;
    margin-top: 4rem;
}

.main__producto {
    -webkit-box-shadow: 7px 10px 24px -8px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 7px 10px 24px -8px rgba(0, 0, 0, 0.6);
    box-shadow: 7px 10px 24px -8px rgba(0, 0, 0, 0.6);
    border-radius: 1rem;  
    text-align: center; 
}

.main__prodimagen{
    height: 20rem;
}

.main__prodtitulo{
    color: #3A3A3A;
}

.main__prodcontenido{
    padding: 1rem;
}

.main__prodestrellas{
    width: 50%;
    margin: 0 auto;
}

.main__prodprecio{
    color: #7A7A7A;
}

.main__prodprecio span{
    color: #3A3A3A;
}

/*SECTION*/
.section{
    padding-bottom: 5rem;
}

.section__titulo {
    text-align: center;
    color: #3A3A3A;
}

.section__parrafo {
    text-align: center;
    line-height: 3.5rem;
    font-size: 1.5rem;
    color: #7A7A7A;
}

.section__tips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 5rem;
    margin-top: 4rem;
}

.section__tip {
    -webkit-box-shadow: 7px 10px 24px -8px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 7px 10px 24px -8px rgba(0, 0, 0, 0.6);
    box-shadow: 7px 10px 24px -8px rgba(0, 0, 0, 0.6);
    border-radius: 1rem;  
    text-align: center; 
}

.section__tipimagen{
    height: 20rem;
}

.section__tipcontenido{
    padding: 2rem;
    color: #7A7A7A;
}

/*FOOTER*/
.footer{
    background-color: #EDEDED;
    padding-top: 6rem;
    padding-bottom: 2rem;
    text-align: center;
}

.footer__contenedor{
    width: 40%;
    margin: 0 auto;
}

.footer__aviso{
    font-weight: 900;
    color: #3A3A3A;
    font-size: 3rem;
}

.footer__parrafo{
    color: #7A7A7A;
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

.footer__formulario{
    margin-bottom: 3rem;
    gap: 2rem;
}

.footer__formulario input[type="text"]{
    padding: 1rem 1rem;
    border: 0;
    width: 22rem;
    font-size: 1.4rem;
    border-radius: .2rem;
}

.footer__formulario input[type="submit"]{
    border: 0;
    background-color: #EE9BBE;
    padding: 1rem 3rem;
    margin: 0;
}

.footer__redes{
    justify-content: center;
    gap: 1rem;
}

.footer__redes img{
    width: 5rem;
    cursor: pointer;
}

.footer__copyright{
    text-align: center;
    color: #7A7A7A;
    font-size: 1.5rem;
    margin-top: 5rem;
}

/*------*/

.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
}

.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}